Django==5.2.15
django-admin-sortable2==2.3.1
django-axes==8.3.1
django-ipware==7.0.1
gunicorn==26.0.0
mutagen==1.47.0
pillow==12.3.0
psutil==7.2.2
psycopg2-binary==2.9.12
python-decouple==3.8
PyGObject==3.56.2
requests==2.32.5
websockets==15.0.1
