{% autoescape off %}Hi {{ user.get_username }},

Someone (probably you) asked to set a new password for your IsadoraAir
account on {{ site_name }}. To choose one, click the link below within
the next few hours -- after that it stops working and you'll need to
request a fresh one.

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If you didn't ask for this, you can ignore this email -- your password
won't change until someone visits that link and picks a new one.

-- IsadoraAir
{% endautoescape %}
