[Unit]
Description=IsadoraAir RBDS (RDS/RBDS UECP/ASCII client)
After=network.target postgresql.service isadoraair-gunicorn.service isadoraair-engine.service stereotool.service

[Service]
User=jreed
Group=jreed
WorkingDirectory=/opt/isadoraair
ExecStart=/opt/isadoraair/venv/bin/python /opt/isadoraair/manage.py run_rbds
Restart=on-failure
RestartSec=5
EnvironmentFile=/opt/isadoraair/.env

[Install]
WantedBy=multi-user.target
