[Unit]
Description=IsadoraAir Playback Engine
After=network.target postgresql.service isadoraair-gunicorn.service

[Service]
User=@@ISA_USER@@
Group=@@ISA_USER@@
WorkingDirectory=@@ISA_ROOT@@
ExecStart=@@ISA_ROOT@@/venv/bin/python @@ISA_ROOT@@/manage.py run_engine
Restart=on-failure
RestartSec=5
EnvironmentFile=@@ISA_ROOT@@/.env
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
