[Unit]
Description=IsadoraAir Stream Encoders (Icecast/Shoutcast)
After=network.target postgresql.service isadoraair-gunicorn.service stereotool.service

[Service]
User=jreed
Group=jreed
WorkingDirectory=/opt/isadoraair
ExecStart=/opt/isadoraair/venv/bin/python /opt/isadoraair/manage.py run_encoders
Restart=on-failure
RestartSec=5
EnvironmentFile=/opt/isadoraair/.env

[Install]
WantedBy=multi-user.target
