[Unit]
Description=IsadoraAir Gunicorn
After=network.target postgresql.service

[Service]
User=@@ISA_USER@@
Group=@@ISA_USER@@
WorkingDirectory=@@ISA_ROOT@@
ExecStart=@@ISA_ROOT@@/venv/bin/gunicorn isadoraair.wsgi:application --bind 127.0.0.1:8000 --workers 3
Restart=on-failure
RestartSec=5
EnvironmentFile=@@ISA_ROOT@@/.env

[Install]
WantedBy=multi-user.target
