[Unit]
Description=Weather data updater (pressure/alerts/sky condition/RDS)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=@@ISA_USER@@
Group=@@ISA_USER@@
WorkingDirectory=@@WEATHER_ROOT@@
ExecStart=@@WEATHER_ROOT@@/venv/bin/python @@WEATHER_ROOT@@/update_local_wx_data.py
